body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2416e9;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #100e88;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button,
[type="submit"] {
  padding: 10px 20px;
  background-color: #ff00c8;
  color: #118cf1;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

[type="submit"] {
  background-color: #84f504;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 10px 0;
  background-color: #aa4949;
  padding: 10px;
  border-radius: 5px;
}

ul li s {
  color: #e26464;
}

.hide {
  display: none;
}

.show {
  display: block;
}
